# custom
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
application.properties
/src/test/java/com/example/gonggu/user/*
/src/test/java/com/example/gonggu/item/*

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/