# custom
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
application.properties
src/test/java/com/example/gonggu/view/
src/test/java/com/example/gonggu/item/
src/test/java/com/example/gonggu/user/
src/test/java/com/example/gonggu/category/

src/main/resources/application-config.properties
src/main/resources/application-rds.properties

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/